@charset "utf-8";
body {background-color: #cecece;}

#contenuer {width:775px;
            height:1350px;  /* Provisoir, remplacer avec la valeur auto des que le contenu 
			est mis en place */
			border: 2px solid #E2F017;
			margin:auto;
			border-radius: 10px;
			background-color: #45E81C;
	       }
#banniere{width: 775px;
          height: 100px;
		  background-color: #45E81C;
         }
#logo { margin-top: 10px;
        margin-left:25px;
      }
#slogan {margin-left: 500px;
         margin-top: -70px;
		 width: 209px;
		 height: 62px; 
        }
#menu_principale {font-family: inter, geneva, bold;
                  font-size: 11px;
				  margin-top: 35px;
				  margin-left: 15px;
                 }
.PROPOS h1{margin-top: 120px;
           margin-left: 120px;
            color:#fff
           } 


.article1{ font-family: inter, geneva, bold;
           font-size: 15px;
		   color: #fff;
		   width:300px;
		   text-align:justify;
		   margin-top: 10px;
           margin-left: 60px;		   
         }
#image {margin-top: -280px;
        margin-left: 470px;} 
#video { margin-top: 80px;
	     margin-left:50px;}
#viTS { margin-top: 15px;
	     margin-left:50px;} 	                      